<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robot Control Panel</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <title>WEB Controller</title>
  </head>

  <body>
    <!-- kalo mau make navbar / judul bisa dibawah ini -->
    <!-- <p class="judul">Drop Your Title</p> -->

    <div class="jumbotron">
      <h4 class="cam">Camera</h4>
      <hr class="batas">
      <div class="container imageDetect">
        <picture class="pic">

          <!-- <img id="videoStream" alt="No Response!. Please Check Your WebCam!" src="/asse/tes.jpg" width="500" -->
          <!-- height="400"> -->

          <!-- Note : if device(raspberry is ready), please Enable script below  -->
          <img id="videoStream" alt="Camera Can't Detected!. Please Check Your WebCam!"
            src="{{ url_for('video_feed') }}" width="500" height="400">

        </picture>
      </div>

    </div>
    </div>
    <div class="container tab">
      <h5>Result Detection</h5>
      <table class="result-table">
        <thead>
          <tr>
            <th>JENIS</th>
            <th>Detection Percent (%)</th>
            <th>GPS Data</th>
            <th>Robot Status </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p id="detectionResult">
              </p>
            </td>
            <td>
              <p id="detectionPercent">
              </p>
            </td>
            <td>
              <p id="detectionGPS">
            
              </p>
            </td>
            <td>
              <p id="robot-status"></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <div class="container">
      <!-- <h4 class="text-center">Controller</h4> -->
      <div class="row cButon">
        <div class="col-6">
          <button onclick="sendCommand('START')" class="btn btn-success starts">START
          
          </button>
          <!-- <button onclick="sendCommand('TURN_RIGHT')" class="btn btn-success">Kanan</button>
          <button onclick="sendCommand('TURN_LEFT')" class="btn btn-success">Kiri</button> -->
          <button onclick="sendCommand('STOP')" class="btn btn-danger">STOP
            
          </button>
          <!--  -->
        </div>
        <!-- <h4 class="text-center">Controller</h4> -->
        <div class="col-6">
          <button onclick="sendCommand('CAM_TILT_LEFT') " class="btn btn-secondary">LEFT CAMERA</button>
          <button onclick="sendCommand('CAM_FRONT')" class="btn btn-secondary">FRONT CAMERA</button>
          <button onclick="sendCommand('CAM_TILT_RIGHT')" class="btn btn-secondary">RIGHT CAMERA</button>
        </div>
      </div>
    </div>
    </div>

    <div class=" jumbotron-fluid">
      <footer class="footer">
        <h6 class="foo">
          <!-- <img src="{{ url_for('static', filename='logo.jpg') }}" alt="UG-Muro" class="logo" />Copyright &copy; 2021.
          Laboratorium Multimedia & Robotika Universitas Gunadarma</h6> -->
          <img src="{{ url_for('static', filename='logo.jpg') }}" alt="UG-Muro" class="logo" />Copyright &copy; 2024.
          Laboratorium Multimedia & Robotika Universitas Gunadarma</h6>
      </footer>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      console.log('JS Connected!');
      function sendCommand(command) {
        fetch('/send-command', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            command: command
          }),
        })
        .then(response => response.json())
          .then(data => {
            if (data.status === 'success') {
              if (command === 'START') {
                document.getElementById('robot-status').innerHTML = 'Robot is running';
              } else if (command === 'STOP') {
                document.getElementById('robot-status').innerHTML = 'Robot is stopped';
              }
            }
          });
      }

      function updateDetectionResult(result) {
        document.getElementById('detectionResult').innerText = result;
      }

      function updateDetectionPercent(probability) {
        document.getElementById('detectionPercent').innerText = `${data.probability}%`; // Edited
      }

      function updateDetectionGPS(result_detect_GPS) {
        document.getElementById('detectionGPS').innerText = result_detect_GPS;
      }

      function startDetection() {
        setInterval(() => {
          fetch('/detect-pest')
            .then(response => response.json())
            .then(data =>{
              updateDetectionResult(data.result);
              detectionPercent(data.probability); // Add Get data from detection probability
            // .then(data => detectionGPS(data.result)); // Edited
            })
            .catch(error => console.error('Error fetching detection data:', error)); // Add error Handling
        }, 1000); // Adjust the interval as needed
      }

      // edited get Distance 
      function getDistance(){
        setInterval(()=>{
          fetch('/get-distance')
          .then(response => response.json())
          .then(datas =>updateDetectionGPS(datas.result_detect_GPS)) // Add Get data from sensor
          .catch(error => console.error('Error fetching detection data:', error)); // Add error Handling
        }, 1000);
      }

      window.onload = startDetection;
    </script>
  </body>

</html>